*{
  padding: 0;
  margin: 0;
}

.half{
  position: relative;
  display: inline-block;
  width: 49%;
  height: 49%;
}

.upper{
  position: absolute;
  top: 0;
  border: 1px solid black;
}

.lower{
  position: absolute;
  top: 50%;
}

.left{
  left: 0;
}

.right{
  background-color: cyan;
  left: 50%;
}

iframe{
  width: 100%;
  height: 100%;
}
