*{
  padding: 0;
  margin: 0;
}

ul{
  list-style-position: inside;
}

iframe{
  width: 100%;
  height: 100%;
}

pre {
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.flowleft{
  float: left;
}

.left{
  position: absolute;
  left: 0;
  width: 200px;
  min-height: 100px;
}

.top{
  position: absolute;
  left: 200px;
  right: 100px;
  overflow: auto;
  height: 50%;
  top: 0;
  border: 1px solid black;
}

.bottom{
  position: absolute;
  left: 200px;
  right: 100px;
  overflow: auto;
  height: 50%;
  top: 50%;
}

.right{
  position: absolute;
  right: 0;
  width: 100px;
  min-height: 100px;
}

.session_closer{
  position: absolute;
  bottom: 0;
  left: 0;
}
